[submodule "files/.vim/bundle/syntastic"]
	path = files/.vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "files/.vim/bundle/vim-coffee-script"]
	path = files/.vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "files/.vim/bundle/nerdtree"]
	path = files/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "files/.vim/bundle/MatchTagAlways"]
	path = files/.vim/bundle/MatchTagAlways
	url = git@github.com:Valloric/MatchTagAlways.git
[submodule "files/.vim/bundle/nerdcommenter"]
	path = files/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
