[submodule "files/.vim/bundle/syntastic"]
	path = files/.vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "files/.vim/bundle/vim-coffee-script"]
	path = files/.vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "files/.vim/bundle/nerdtree"]
	path = files/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "files/.vim/bundle/nerdcommenter"]
	path = files/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "files/.vim/bundle/IndexedSearch"]
	path = files/.vim/bundle/IndexedSearch
	url = git@github.com:vim-scripts/IndexedSearch.git
[submodule "files/.vim/bundle/delimitMate"]
	path = files/.vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "files/.vim/bundle/MatchTag"]
	path = files/.vim/bundle/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "files/.vim/bundle/matchit"]
	path = files/.vim/bundle/matchit
	url = git@github.com:vim-scripts/matchit.zip.git
